.blur {
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(6, 19, 45, 1) 50%, rgba(255, 255, 255, 1)),
        linear-gradient(to right, rgba(255, 255, 255, 1), rgba(6, 19, 45, 1), rgba(255, 255, 255, 1)),
        linear-gradient(to right, rgba(255, 255, 255, 1), rgba(6, 19, 45, 1), rgba(255, 255, 255, 1));
    background-size: 100% 1.5px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 7.42311px;
    justify-content: space-around !important;
    //i replaced blur(29.6924px) with blur(15px) because it didn't come out well at all. it didn't look like the model  
    backdrop-filter: blur(15px);

    div {
        background: transparent;
        border: none;
        position: relative;
        //z-index: 5;

        img {
            margin: 0 !important;
            width: 100%;
            height: 100%;
        }
    }

    .metamask {
        width: 188.03px;
        height: 34.63px;
    }

    .coinbase {
        width: 152.28px;
        height: 27.2px;
    }

    .binance {
        width: 173.14px;
        height: 34.63px;
    }

    .none {
        display: none !important;
    }

    .buttonItem {
        width: 152px;
        height: 39px;
    }
}

.blurHero {
   // z-index: 2;
    margin-top: calc(-124.71px - 29.11px);
    width: calc(100% - 3px);
    height: 124.71px;
}


.blurTrending {
    backdrop-filter: blur(29.6924px) !important;
    //z-index: 2;
    margin-top: calc(-105px/2);
    width: 494px;
    height: 105px;
}

.divBlurHero {
    background: rgba(255, 255, 255, 0.1);
    height: 124.71px !important;
}

.divBlurTrending {
    background: rgba(255, 255, 255, 0.1);
    height: 105px !important;
}

@media (max-width: 1500px){
    .blur {
    
        div {
    
            img {
                margin: 0 !important;
                width: 100%;
                height: 100%;
            }
        }
    
        .metamask {
            width: 180px;
            height: 30px;
        }
    
        .coinbase {
            width: 145px;
            height: 20px;
        }
    
        .binance {
            width: 165px;
            height: 30px;
        }
    

    
        .item {
            justify-content: space-between !important;
    
            .name {
                font-family: Roboto;
                font-size: 26px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0.005em;
                text-align: left;
                color: white;
            }
    
            .username {
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0.005em;
                text-align: left;
                color: white;
            }
        }
    
        .buttonItem {
            width: 152px;
            height: 39px;
        }
    }
    
    .blurHero {
        margin-top: calc(-124.71px - 29.11px);
        width: 600px;
        height: 120px;
    }
    
    
    .blurTrending {
        backdrop-filter: blur(29.6924px) !important;
        //z-index: 2;
        margin-top: calc(-105px/2);
        width: 494px;
        height: 105px;
    }
    
    .divBlurHero {
        background: rgba(255, 255, 255, 0.1);
        height: 110px !important;
        width: 600px;
    }
    
    .divBlurTrending {
        background: rgba(255, 255, 255, 0.1);
        height: 50px !important;
    }
    
}

@media (max-width: 1200px){
    .blur {
    
        .metamask {
            width: 130px;
            height: 20px;
        }
    
        .coinbase {
            width: 110px;
            height: 20px;
        }
    
        .binance {
            width: 110px;
            height: 20px;
        }
    
        .buttonItem {
            width: 152px;
            height: 39px;
        }
    }
    
    .blurHero {
        margin-top: calc(-124.71px - 29.11px);
        width: 450px;
        height: 90px !important;
    }
    
    .blurTrending {
        backdrop-filter: blur(29.6924px) !important;
        margin-top: calc(-105px/2);
        width: 430px;
        height: 90px;
    }
    
    .divBlurHero {
        background: rgba(255, 255, 255, 0.1);
        height: 90px !important;
        width: 430px;
    }
    
    .divBlurTrending {
        background: rgba(255, 255, 255, 0.1);
        height: 38px !important;
    }
}