header {
    margin-top: 26px;
    height: 39px;
    width: 1281px;
    border-radius: 30px;
    background-color: transparent;
    justify-content: space-between !important;

    p {
        color: white;
        font-size: 27px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: -0.025em;
        text-align: left;
    }

    ul {
        gap: 30px;

        li {
            color: white;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

}