

.txtGrad {
    background: -webkit-linear-gradient(0deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tredingtxtGrad {
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.005em;
    text-align: left;
}

