#trending {
   // z-index: 2;
    width: 1284px;
    gap: 90px;

    .components {
        margin-top: 11px;
        display: grid !important;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 90px;

        .title {
            z-index: 2;
            align-self: flex-start;
            width: 592px;
            height: 76px;
            font-weight: 600;
            font-size: 59.0024px;
            line-height: 76px;
            letter-spacing: 0.005em;
            color: #FFFFFF;
        }

        .description {
            z-index: 2;
            font-weight: 300;
            font-size: 24px;
            line-height: 27px;
            text-align: justify;
            color: #FFFFFF;
            opacity: 0.5;
            width: 603px;
            height: 81px;
        }
    }
}


@media(max-width: 1500px){
    #trending {
         width: 1100px;
         gap: 40px;
     
         .components {
            gap: 50px;
             .title {
                 width: 500px;
                 height: 76px;
                 font-size: 50px;
                 line-height: 76px;
             }
     
             .description {
                 font-size: 18px;
                 width: 500px;
                 height: 81px;
             }
         }
     }
     
}

@media(max-width: 1200px){
    #trending {
         width: 1000px;
         gap: 40px;
     
         .components {
            gap: 50px;
             .title {
                 width: auto;
                 height: 76px;
                 font-size: 45px;
                 line-height: 76px;
             }
     
             .description {
                 font-size: 17px;
                 width: 400px;
                 height: 81px;
             }
         }
     }
     
}

@media(max-width: 1000px){
    #trending {
         width: 820px;
         gap: 30px;
     
         .components {
            
        grid-template-columns: auto;
            gap: 40px;
             .title {
                 width: auto;
                 height: 76px;
                 font-size: 45px;
                 line-height: 76px;
             }
     
             .description {
                 font-size: 17px;
                 width: 400px;
                 height: 81px;
             }
         }
     }
     
}