#trending {
    z-index: 2;
    width: 1284px;
    gap: 90px;

    .components {
        margin-top: 11px;
        display: grid !important;
        grid-template-columns: auto auto;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 90px;

        .title {
            align-self: flex-start;
            width: 592px;
            height: 76px;
            font-weight: 600;
            font-size: 59.0024px;
            line-height: 76px;
            letter-spacing: 0.005em;
            color: #FFFFFF;
        }

        .description {
            font-weight: 300;
            font-size: 24px;
            line-height: 27px;
            text-align: justify;
            color: #FFFFFF;
            opacity: 0.5;
            width: 603px;
            height: 81px;
        }
    }
}
