@import "./style/reset.scss";
@import "./style/flex.scss";

html{
  font-family: "Roboto" !important;
  font-style: normal !important;
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden !important;
  height: 3302px;
}

body{
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden !important;
  height: 3302px;
}

main{
  height: 3302px;
  width: 1440px;
  gap: 115px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px  transparent;  
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, .1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

@media(max-width: 1500px){
  main{
    width: 1200px;
  }
}

@media(max-width: 1200px){
  main{
    gap: 100px;
    width: 1000px;
  }
}

@media(max-width: 1000px){
  main{
    width: 820px;
    gap: 50px
  }
}

